<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h2>Skills</h2>
<%= @skills.inspect %>

<h2>Blog</h2>
<p><%= @blogs.inspect %></p>

<h2>Portfolio</h2>
<p><%= @portfolios.inspect %></p>


<h2>Params</h2>
<p><%= params.inspect %></p>

